.rounded-button {
    width: 85px;
    height: 85px;
    background-color: #5768ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
  }
  
  .rounded-button:hover{
    background-color: red;
  }
  .rounded-button:active {
    background-color: #ccc;
  }

  .container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 170px 200px 200px;
}

.item {
	text-align: center;
}

.scroll {
  background-color: #00fff2;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  height: 100px;
  width: 390px
}

