a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

.container {
	max-width: 366px;
}

.inner {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 170px 200px 200px;
}

.item {
	text-align: center;
}

.scroll {
  margin: 5px 0;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  height: 156px;
  width: 366px
}

.scroller_text{
  position: relative;
  color: black;
  top: -18px;
  left: 12px;
}

.button {
  width: 85px;
  height: 85px;
  min-width: 85px;
  min-height: 85px;
  margin: 17px 11px;
  border-radius: 17px;
  color: white;;
  font-family: Arial, sans-serif;
}

@media (hover:hover){
  .button:hover{
    transform: scale(1.05);
  }
}

#scroller_police{
  border-color: #3D00B8;
}

#scroller_baraholka{
  border-color: #9DE8FF;
}

#scroller_houses{
  border-color: #82002D;
}

.button img {
  position: relative;
  width: 85px;
	height: 85px;
  left: -1px;
  border-style: solid;
  border-color: blue;
  border-radius: 17px;
  border-width: 6px;
}

#mainbanner img{
  width: 366px;
  height: 155px;
  margin-bottom: -13px;
  border-radius: 17px;
}

#mainbanner:hover{
  transform: scale(1.05);
}
#secondline{
  width: 366px;
  height: 122px;
  position: relative;
  top: 22px;
  flex-flow: column;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 22px;
}

#news{
  width: 122px;
  height: 122px;
}
#news img{
  border-radius: 17px;
  position: relative;
  width: 122px;
  height: 122px;
}

#news :hover{
  transform: scale(1.05);
}

#secondbanner{
  position: relative;
  width: 222px;
  height: 122px;
}

#secondbanner img{
  border-radius: 17px;
  width: 222px;
  height: 122px;
}

#secondbanner:hover{
  transform: scale(1.05);
}

.menutext{
  padding: 3px;
  margin: 5px;
  font-size: 15px;  
  float: right;
}


#header_container{
  position: relative;
  top: 12px;
  text-align: left;
  font-size: 28px;
  clear: both;
  display: block;
  white-space: nowrap;
}

#shops{
  width: 308px;
  display: grid;
	grid-template-columns: 2fr 1fr;
	grid-auto-rows: 121px;
  top: 6px;
  position:  relative;
  left: 23px;
}

.shop_text{
  position: relative;
  color: black;
  top: 31.5px;
}

.button_shop{
  width: 130px;
  height: 100px;
  border-radius: 17px;
  background-color: #4de2ef;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
}

.button_shop:hover{
  transform: scale(1.05);
}

